
header {
  padding: 20px 0;
  background-color: #515A5A;
  color: white;
  margin: 0 auto;
}


/*.jumbotron {
  display: flex;
  align-items: left;
  background-image: url ('images/harta.png');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}
*/

/*C:\Users\Laptopi\Desktop\Dev\Techstitution-AH\images*/

 footer  {
	background-color: #515A5A;
	color: white;
	height: 50px;
	padding: 1rem;
	margin: 0 auto;

}

.container {
	background-color: #515AAA;
}


/*.content {
background-color: #D6DBDF;
padding-left: 20px 0;
}
*/

 .main-content{
        
        background: #dbdfe5;
        text-align: center;
  }

  h4 {
  	font-family: Georgia;
  }
 
 .sidebar-content{
       
        margin-bottom: 20px;
        background: #b4bac0;
    }

.border-class
{
  border-width: 5px;
  margin: 0px;
  padding:25px;
  border-color: yellow;
  border-style: initial;

}